/* Atur tampilan utama */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #5CCEFF;
}

/* Kontainer login */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Input field */
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Tombol login */
button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Media query untuk layar kecil */
@media (max-width: 480px) {
    .login-container {
        width: 95%;
        padding: 15px;
    }

    input, button {
        padding: 10px;
        font-size: 14px;
    }
}
.login-container img {
    width: 180px;
    margin: 0;
    bottom: 0;
    padding: 0;
}